@import "tailwindcss";

@layer base {
  button:enabled {
    cursor: pointer;
  }
}

@layer components {
  .tw_outline {
    @apply outline-2 outline-offset-2 outline-transparent transition-[outline-color] focus-visible:outline-green;
  }
}

/* Disable all animations when user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  :root {
    @apply !scroll-auto;
  }

  * {
    @apply !animate-none !transition-none;
  }
}

/*noinspection CssUnresolvedCustomProperty*/
@theme {
  --breakpoint-tb: 48em; /* Tablet: 768px */
  --breakpoint-dt: 90em; /* Desktop: 1440px */

  --color-grey-900: #141414;
  --color-grey-800: #1f1f1f;
  --color-grey-700: #333333;
  --color-white: #ffffff;
  --color-green: #c4f82a;

  --font-sans: var(--font-inter);

  --spacing: 0.25rem;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  --animate-fade-in: fadeIn var(--default-transition-duration)
    var(--default-transition-timing-function);
}
